body {
    background-image: url('https://tse1.mm.bing.net/th/id/OIP.dgg50YWodAbsDjQU5mJYrAHaFQ?w=512&h=364&rs=1&pid=ImgDetMain&o=7&rm=3');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}

.col-3{
    margin: 20px;
    padding: 25px;

    
}
.text-center{
    margin-top: 25px;
    color:rgb(252, 251, 251);
}

.card-img-top{
    height:200px;
    width:100%;
    object-fit: cover;
}

.card{
    margin-bottom: 20px;
}